body {
  background-color: #cccccc;
}


.btn {
  border-radius: 20px;
  min-width: 100px;
}


.alpaca-image {
  position: relative;
  width: 300px;
  height: 300px;
}

.alpaca-image img {
  position: absolute;
  width: 100%;
}